$maxWidth: 1000px;
$smallScreenMargin: 3vw;
$smallScreenBp: calc(calc($maxWidth/2) * 100vw / calc(50vw - $smallScreenMargin));

.app {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    padding: 40px calc(50vw - $maxWidth/2);
    @media screen and (max-width: $smallScreenBp) {
        padding: $smallScreenMargin;
    }
    gap: 40px;

    > header {
        @extend %appFragment;
        grid-area: header;
    }

    > main {
        @extend %appFragment;
        grid-area: content;
    }

    > footer {
        @extend %appFragment;
        grid-area: footer;
    }
}

%appFragment {
    max-width: $maxWidth;
    text-wrap: pretty;
}
